/gradle/
/build/
/.idea/
/.gradle/
.gradle
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/lexisnexi/.DS_Store
.idea/modules/lexisnexis.main.iml

